body {
    padding: 0;
    margin: 0;
    color: #E2DEDE;
    font-size: 14px;
    font-weight: 300;
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;
}

.body-wrapper {
	background: linear-gradient(244.25deg, #000000 0%, #241C1C 50.03%, #000000 100%);
}

.container {
    max-width: 1440px;
    overflow-x: hidden;
    margin: 0 auto;   
}

.first-screen {
    max-width: 1290px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    background: linear-gradient(180deg, #111111 0%, rgba(35, 27, 27, 0.69) 100%);
}

.nav {
    display: flex;
    align-items: center;
    width: 1100px;
    height: 20px;
    margin-top: 46px;
    padding-top: 25px;
    margin-left: 133px;
    margin-right: 133px;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
}

.menu li a {
    text-decoration: none;
    color: #E2DEDE;
    font-size: 16px;
    font-family: Montserrat , sans-serif;
    font-weight : 300;
} 

.menu li {
    margin-right: 90px;
}

.icons {
    width: 20px;
    height: 20px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    margin-left: 230px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 30px;
    margin-top: -2px;
}

.header {
    width: 100%;
    min-height: 720px;
    margin: 0 auto;
    background: url('../img/Photo.png') top right no-repeat;
}

.header_text {
    margin-top: 60px;
    font-size: 16px;
    font-weight: 300; 
    padding-left: 133px;
    line-height: 1.2;
}

.header_title {
    font-family: Playfair Display, sans-serif;
    font-size: 104px;
    font-weight: 700;
    margin-bottom: 60px;
    line-height: 1.2;
    padding-top: 130px;
}

h2 {
    font-family: Playfair Display, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 1,17;
    margin-bottom: 50px;
}

.btn {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 240px;
    height: 64px;
    background: #720000;
    text-decoration: none;
    color: #E2DEDE;
    font-size: 18px;
    font-family: Montserrat , sans-serif;
    font-weight : 300;
}

.wrapper {
    max-width: 1379px;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 30px;
}

.about_me {
    display: flex;
    justify-content: space-between;
}

.about_text {
    line-height: 1.2;
    width: 420px;
}

.about_title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.17;
    margin-bottom: 30px;
}

.about_img {
    position: relative;
    margin: 30px 0 0 0;
    width: 53%;
}

.wrapper2 {
    max-width: 1379px;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 40px;
}

.portfolio_title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.17;
    margin-bottom: 30px;
}

.portfolio_title {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.17;
    margin-bottom: 30px;
}

.slider {
    width: 1025px;
    overflow: hidden;
}
   
.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: #720000;
    border-radius: 100px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 1044px;
    margin-right: 50px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.slider > a {
    text-decoration: none;
    position: relative;
    color: #E2DEDE;
    margin-right: 100px;
    font-size: 16px;
    font-weight: 500;
}

.slider > a:active {
    top: 1px;
    color: #720000;
}

.slider > a:focus {
    background: #eee;
}

.wrapper3 {
    max-width: 1379px;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 40px;
}

.price_title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.17;
    margin-bottom: 30px;
}

.price_row {
    display: flex;
    justify-content: space-between;   
}

.standart, .comfort, .full_pack {
    width: 328px;
    border: 1px solid #E2DEDE;
    padding: 47px 32px 45px 28px;
    margin-right: 40px;
}

.standart_title, .comfort_title, .full_pack_title {
    font-family: Playfair Display, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1,17;
    margin-bottom: 70px;
    text-align: center;
}

.text_standart {
    margin-bottom: 163px;
}

.text_comfort {
    margin-bottom: 105px;
}

.text_full_pack {
margin-bottom: 47px;
}

.cost {
    font-family: Playfair Display, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.contact_button {
    margin: 30px 27px 20px 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 198px;
    height: 50px;
    background: #720000;
    text-decoration: none;
    color: #E2DEDE;
    font-size: 16px;
    font-family: Montserrat , sans-serif;
    font-weight : 300;
}

.wrapper4 {
    max-width: 1379px;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.contact_row {
    display: flex;
    justify-content: space-between;
}

.contact-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.17;
    margin-bottom: 30px;
}

.contact-form input {
    width: 410px;
    height: 38px;
    background: rgba(229, 229, 229, 0.2);
    font-size: 14px;
    padding: 12px;
    border: 0;
    margin-bottom: 12px;
}

.contact-form textarea {
    background: rgba(229, 229, 229, 0.2);
    font-size: 14px;
    padding: 12px;
    width: 410px;
    height: 90px;
    border: 0;
    margin-bottom: 12px;
}

.form {
    padding-top: 22px;
    text-align: left; 
}

.contact-form {
    margin-top: 64px;
    padding-left: 60px;
    padding-right: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1,2; 
}

.button {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 198px;
    height: 50px;
    background: #720000;
    text-decoration: none;
    color: #E2DEDE;
    font-size: 16px;
    font-family: Montserrat , sans-serif;
    font-weight : 300;
}

.contact-icons {
    margin-top: 62px;
    margin-right: 0;
    margin-left: 30px;
    padding-bottom: 80px;
}

.contact {
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.contact-info {
    margin-top: 64px;
    margin-right: 0;
    font-size: 14px;
    font-weight: 500;
    width: 300px;
}
